@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/* CSS RESET SOURCE LINK : https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}
img,
svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

:root {
  --ff-poppins: "Poppins", sans-serif;
  --primary-clr: #1d355d;
  --secondary-clr: #6066d0;
  --accent-clr: #f9a826;

  --wrong-answer-clr: #ea8282;
  --correct-answer-clr: #60bf88;
  --common-clr: #f2f2f2;
}

body {
  font-family: var(--ff-poppins);
  background: no-repeat center url("./assets/background.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  text-transform: uppercase;
  color: var(--common-clr);
  font-size: 2.25rem;
}

button {
  cursor: pointer;
  padding: 0.625rem 1.25rem;
  width: 100%;
  border-radius: 0.75rem;
  border: 2px solid var(--primary-clr);
  font-weight: 500;
  gap: 2.8125rem;
  color: var(--secondary-clr);
  border-color: var(--secondary-clr);
}

button:hover {
  background-color: var(--accent-clr);
  border-color: var(--accent-clr);
}

button:hover span {
  color: var(--common-clr);
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.question {
  max-width: 29rem;
  position: relative;
  padding: 3.75rem 1.875rem;
  background-color: var(--common-clr);
  border-radius: 1.5rem;
}

.question::before {
  content: "";
  background-image: url("./assets/undraw_adventure.svg");
  width: 10.125rem;
  height: 7.25rem;
  position: absolute;
  right: 0;
  top: -90px;
}

.question__title img {
  width: 5.25rem;
  height: 3.375rem;
}
.question__title h2 {
  margin-block: 1.875rem;
  color: var(--primary-clr);
}

.question__choices {
  flex-direction: column;
  gap: 1.5625rem;
}

.choice-letter {
  font-size: 1.5rem;
}

.choice-answer {
  font-size: 1.125rem;
}
