@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-mulish: "Mulish", sans-serif;
}

@layer base {
  body {
    font-family: var(--ff-montserrat);
  }
}

@layer components {
  .form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-floating {
    position: relative;
  }
  .form-control::placeholder {
    opacity: 1;
  }

  /* .form-floating > .form-control:focus, */
  .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }

  .form-floating > .form-control {
    padding: 1rem 0.75rem;
    height: calc(3.5rem + 2px);
    line-height: 1.25;
  }

  .form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }
  .form-floating > .form-control:focus ~ label,
  .form-floating > .form-control:not(:placeholder-shown) ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }

  .outline_none {
    border-color: #000;
    outline: 1px solid;
  }

  .close {
    transform: translate3d(0, -100%, 0);
  }
  .open {
    transform: translate3d(0, 0, 0);
  }
}
