@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ff-raleway: "Raleway", sans-serif;
  }

  body,
  html {
    font-family: var(--ff-raleway);
  }

  body {
    background-color: #100e1d;
    color: #e7e7eb;
  }
}
