@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ff-raleway: "Raleway", sans-serif;
    --color-primary: #100e1d;
    --color-secondary: #1e213a;

    --text-primary: #e7e7eb;
    --text-secondary: #a09fb1;
    --text-accent: #88869d;

    --btn-primary: #6e707a;
    --btn-secondary: #585676;
    --btn-accent: #3c47e9;
  }

  body,
  html {
    font-family: var(--ff-raleway);
  }
}
