@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ff-raleway: "Raleway", sans-serif;
  }

  body,
  html {
    font-family: var(--ff-raleway);
  }

  body {
    background-color: #100e1d;
    color: #e7e7eb;
  }

  progress::-moz-progress-bar {
    background: #ffec65;
  }
  progress::-webkit-progress-value {
    background: #ffec65;
  }
  progress {
    color: #ffec65;
  }
}

@layer components {
  .current-weather {
    background: linear-gradient(
        rgba(30, 33, 58, 0.95) 100%,
        rgba(30, 33, 58, 0.95) 100%
      ),
      url("./assets/common/cloud-background.png");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 150%;
  }
}
