@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}
button {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  font: inherit;
}

span {
  display: block;
}
#root {
  isolation: isolate;
}

body {
  font-family: "Raleway", sans-serif;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}
.min-h-screen {
  min-height: 100vh;
}
.flex-1 {
  flex: 1;
}
#container {
  width: min(90%, 75rem);
  margin-inline: auto;
}

#quote-container {
  margin-block: 20px;
}

.quoteText {
  margin-inline: auto;
  max-width: 44.6875rem;
  padding-left: 6.25rem;
  border-left: 8px solid #f7df94;
  font-size: 1.875rem;
}

.btn {
  margin-top: 1.875rem;
  margin-left: auto;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.author-link {
  width: 39rem;
  margin-left: auto;
  padding: 3.125rem 1.875rem;
  justify-content: space-between;
  margin-top: 6.25rem;
  cursor: pointer;
}

.author-link:hover {
  background-color: #333333;
}

.author-link:hover .author-name {
  color: #fff;
}

.author-name {
  color: #4f4f4f;
  font-size: 1.5rem;
  font-weight: 700;
}

.quote-genre {
  color: #828282;
  font-size: 0.875rem;
  font-weight: 500;
}

footer {
  color: #828282;
}

footer a {
  color: inherit;
  font-weight: 700;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

.quote-author {
  color: #000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
